include LICENSE
include README.rst
include config.py
prune *.pyc
recursive-include {{addon_name}}/static *
recursive-include {{addon_name}}/templates *
recursive-include {{addon_name}}/translations *
